<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Bark Audio Generator</title>
        <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
            <h1 class="text-center my-4">Bark Audio Generator</h1>

            <div class="form-group">
                <label for="speaker">Speaker:</label>
                <select class="form-control" id="speaker">
                    <option selected>None</option>
                    <option value="v2/en_speaker_0">en_speaker_0</option>
                    <option value="v2/en_speaker_1">en_speaker_1</option>
                    <option value="v2/en_speaker_2">en_speaker_2</option>
                    <option value="v2/en_speaker_3">en_speaker_3</option>
                    <option value="v2/en_speaker_4">en_speaker_4</option>
                    <option value="v2/en_speaker_5">en_speaker_5</option>
                    <option value="v2/en_speaker_6">en_speaker_6</option>
                    <option value="v2/en_speaker_7">en_speaker_7</option>
                    <option value="v2/en_speaker_8">en_speaker_8</option>
                    <option value="v2/en_speaker_9">en_speaker_9</option>
                </select>
            </div>

            <div class="form-group">
                <label for="text_prompt">Text Prompt:</label>
                <textarea
                    class="form-control"
                    id="text_prompt"
                    rows="5"
                ></textarea>
            </div>

            <button id="generate_btn" class="btn btn-primary">Generate</button>
            <hr />

            <h2 class="text-center my-4">Wav Files</h2>
            <button id="refresh_btn" class="btn btn-secondary mb-3">
                Refresh List
            </button>
            <ul id="wav_list" class="list-group"></ul>
            <hr />
            <h2 class="text-center my-4">Uploads</h2>
            <div class="form-group">
                <label for="upload_wav">Upload Wav File:</label>
                <input
                    type="file"
                    class="form-control-file"
                    id="upload_wav"
                    accept=".wav"
                />
            </div>
            <button id="upload_btn" class="btn btn-primary">
                Upload New Wav
            </button>
            <hr />
            <h2 class="text-center my-4">Create Voice</h2>
            <div class="form-group">
                <label for="audio_sample">Audio Sample:</label>
                <select class="form-control" id="audio_sample"></select>
            </div>
            <div class="form-group">
                <label for="voice_text">Voice Text:</label>
                <textarea
                    class="form-control"
                    id="voice_text"
                    rows="3"
                ></textarea>
            </div>
            <div class="form-group">
                <label for="voice_name">Voice Name:</label>
                <input type="text" class="form-control" id="voice_name" />
            </div>
            <button id="create_voice_btn" class="btn btn-primary">
                Create Voice
            </button>
            <hr />
        </div>

        <script>
            function refreshWavList() {
                $.getJSON("/list", function (data) {
                    $("#wav_list").empty();
                    $("#audio_sample").empty();
                    data.forEach(function (filename) {
                        var listItem = $(
                            "<li class='list-group-item d-flex justify-content-between align-items-center'></li>"
                        );
                        listItem.text(filename);

                        var audioControl = $("<audio controls></audio>").attr(
                            "src",
                            "/get/" + filename
                        );
                        listItem.append(audioControl);

                        var deleteBtn = $(
                            "<button class='btn btn-danger btn-sm'>Delete</button>"
                        );
                        deleteBtn.click(function () {
                            $.ajax({
                                url: "/delete/" + filename,
                                type: "DELETE",
                                success: function (result) {
                                    refreshWavList();
                                },
                            });
                        });
                        listItem.append(deleteBtn);

                        $("#wav_list").append(listItem);
                        $("#audio_sample").append(
                            $("<option>").text(filename).val(filename)
                        );
                    });
                });
            }

            function populateVoices() {
                $.getJSON("/voices", function (data) {
                    $("#speaker").empty();
                    $("#speaker").append(
                        $("<option>").text("None").val("None")
                    );
                    // sort data alphabetically
                    data.sort();
                    data.forEach(function (filename) {
                        var voiceLabel = filename.replace(".npz", "");
                        $("#speaker").append(
                            $("<option>")
                                .text(voiceLabel)
                                .val(voiceLabel)
                        );
                    });
                });
            }

            $(document).ready(function () {
                $("#generate_btn").click(function () {
                    var prompt = $("#text_prompt").val();
                    var speaker = $("#speaker").val();
                    // disable the generate button and set spinner
                    $("#generate_btn").prop("disabled", true);
                    $("#generate_btn").html(
                        '<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Generating...'
                    );
                    $.ajax({
                        url: "/create",
                        type: "POST",
                        data: JSON.stringify({
                            text_prompt: prompt,
                            speaker: speaker,
                        }),
                        contentType: "application/json",
                        dataType: "json",
                        success: function (data) {
                            refreshWavList();
                            // enable the generate button and set text
                            $("#generate_btn").prop("disabled", false);
                            $("#generate_btn").html("Generate");
                        },
                    });
                });

                $("#refresh_btn").click(function () {
                    refreshWavList();
                });

                refreshWavList();
                populateVoices();

                $("#upload_btn").click(function () {
                    var fileInput = $("#upload_wav")[0];
                    if (fileInput.files.length === 0) {
                        alert("Please select a .wav file to upload.");
                        return;
                    }
                    var file = fileInput.files[0];
                    if (!file.name.endsWith(".wav")) {
                        alert("Invalid file type. Please upload a .wav file.");
                        return;
                    }
                    var formData = new FormData();
                    formData.append("file", file);
                    $.ajax({
                        url: "/upload",
                        type: "POST",
                        data: formData,
                        processData: false,
                        contentType: false,
                        dataType: "json",
                        success: function (data) {
                            refreshWavList();
                            // Clear the file input
                            $("#upload_wav").val("");
                        },
                    });
                });

                $("#create_voice_btn").click(function () {
                    var audioSample = $("#audio_sample").val();
                    var voiceText = $("#voice_text").val();
                    var voiceName = $("#voice_name").val();

                    $("#create_voice_btn").prop("disabled", true);
                    $("#create_voice_btn").html(
                        '<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Creating Voice...'
                    );

                    $.ajax({
                        url: "/create_voice",
                        type: "POST",
                        data: JSON.stringify({
                            audio_sample: audioSample,
                            voice_text: voiceText,
                            voice_name: voiceName,
                        }),
                        contentType: "application/json",
                        dataType: "json",
                        success: function (data) {
                            // enable the create voice button and set text
                            $("#create_voice_btn").prop("disabled", false);
                            $("#create_voice_btn").html("Create Voice");
                            populateVoices();
                        },
                    });
                });
            });
        </script>
    </body>
</html>
